.activities_page{
    header {
    
        .home_slider {
            width: 100%;
            height: 100%;
            position: relative;
        }
        .slider-navigation{
            position: absolute;
            bottom: 4%;
            left: 4%;
            height: 4rem;
            z-index: 2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .right,.left{
                width: 3rem;
                height: 3rem;
                margin: 0 0.5rem;
                background: $beige;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                &:hover{
                    opacity: 0.8;
                }
            }
            .right{
                transform: rotate(180deg);
            }
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
    
            .slide-content {
                width: 100vw;
                height: 100%;
    
                .slide-header {
                    width: 100%;
                    height: auto;
                    position: absolute;
                    z-index: 2;
    
                    img {
                        width: 100%;
                    }
                }
    
                .slide-body {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
    
                    .bg {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        z-index: -1;
    
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
    
                    .text-container {
                        position: absolute;
                        left: 20%;
                        z-index: 2;
                        margin: -29vh 0 0 0;
                        color: $white;
                        text-align: right;
    
                        h1 {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
   .card_section{
       position: relative;
       margin: 0 0 5rem 0;
       .data-container{
           padding: 0 4rem 0 0 ;
           @include breakpoint(smlaptop) {
            padding: 0;
        }
        @include breakpoint(allSmalls) {
            padding: 0;
        }

       }
   }
}